@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;


}
body
{
  background-color: rgb(51, 22, 22);

  margin: 0px;
  padding: 0px;

  display: block;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.App
{
  width:100%;

}
